.accommodationContent {
    margin: 0 auto;
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    & .titleLocationHost {
        display: flex;
        justify-content: space-between;
        color: #FF6060;
        & h1 {
            font-size: 36px;
            font-weight: 500;
        }
        & p {
            font-size: 18px;
            font-weight: 500;
        }
        & img {
            height: 64px;
            width: 64px;
            border-radius: 50%;
        }
        & div:nth-child(2) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 167px;
            margin-bottom: 20px;
        }
    }
    & .tagsStars {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
        & ul {
            display: flex;
            align-items: center;
            column-gap: 10px;
            list-style-type: none;
            & li {
                font-size: 14px;
                color: white;
                background-color: #FF6060;
                min-width: 115px;
                text-align: center;
                border-radius: 10px;
                padding: 4px 15px;
            }
        }
    }
    & .accommodationCollapse {
        display: flex;
        gap: 76px;
        margin-bottom: 50px;
        & div {
            width: 100%;
        }
        & ul {
            list-style-type: none;
            line-height: 22px;
        }
    }
}